<h3 class="text-center text-info mt-4">Change Password</h3>
<div class="container w-50 shadow-lg mt-4 form-container">
  <form #changepassForm="ngForm" (ngSubmit)="changePassword(changepassForm)">
    <div class="form-group mt-2">
      <label for="old-password">Old password</label>
      <input
        type="password"
        name="oldpass"
        class="form-control input-field"
        [(ngModel)]="oldpassword"
        placeholder="Enter old password"
      />
    </div>
    <div class="form-group">
      <label for="new-password">New password</label>
      <input
        type="password"
        name="newpass"
        class="form-control input-field"
        [(ngModel)]="newpassword"
        placeholder="Enter new password"
      />
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm password</label>
      <input
        type="password"
        name="confirmpass"
        class="form-control input-field"
        [(ngModel)]="confirmpassword"
        placeholder="confirm password"
      />
    </div>
    <button type="submit" class="btn btn-submit w-100 btn-outline-info my-2">
      Change Password
    </button>
  </form>
</div>
