<!-- Displaying enrollments done by user -->
<div class="container">
  <div style="padding-bottom: 10px; padding-top: 10px">
    <div class="row">
      <div class="col-sm-12">
        <button (click)="ExportTOExcel()" class="btn btn-success">
          ExportTOExcel
        </button>
      </div>
    </div>
  </div>

  <a class="btn btn-outline-info my-3" routerLink="/manager/addplan">
    Add Plan
  </a>
  <div class="col-lg-12 table-responsive" #TABLE #table>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Plan Name</th>
        <th scope="col">Duration(in months)</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Fees</th>
        <th scope="col">Sport Name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody *ngIf="plans.length > 0; else nodata">
    <tr *ngFor="let plan of pagedItems" >
      <td>{{ plan.planName }}</td>
      <td>{{ plan.planDuration }}</td>
      <td>{{ plan.planStartDate }}</td>
      <td>{{ plan.planEndDate }}</td>
      <td>{{ plan.planFees | currency: "INR" }}</td>
      <td>{{ plan.sportName }}</td>
      <td>
        <button
          class="btn btn-primary"
          (click)="updatePlan(plan.planId)"
          class="btn btn-info"
        >
          Update
        </button>
      </td>

      <td>
        <button class="btn btn-danger" (click)="deletePlan(plan.planId)">
          Delete
        </button>
      </td>
      </tr>
    </tbody>
     <ng-template #nodata>No Plans Available</ng-template>
  </table>
</div>
<div class="d-flex justify-content-center">
  <jw-pagination
    [items]="plans"
    [pageSize]="10"
    (changePage)="beginPagination($event)"
    pagesize="10"
  ></jw-pagination>
</div>

</div>
<ng-template #nada>
  <div class="spinnercontainer">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  </ng-template>