<h3 class="text-center text-info">Update Plan</h3>

<!-- <div class="col-md-6 offset-md-3 shadow-lg" *ngIf="plan"> -->

<div class="col-md-6 offset-md-3 shadow-lg form-container" *ngIf="plan">
  <form #planForm="ngForm" (ngSubmit)="updatePlan(planForm)">
    <div class="form-group mt-2">
      <label for="planName">Plan Name</label>
      <input
        type="text"
        class="form-control input-field"
        id="planName"
        [(ngModel)]="plan.planName"
        name="planName"
      />
    </div>
    <div class="form-group">
      <label for="planStartDate">Starts From</label>
      <input
        type="date"
        class="form-control input-field"
        id="planStartDate"
        [(ngModel)]="plan.planStartDate"
        name="planStartDate"
      />
    </div>
    <div class="form-group">
      <label for="planDuration">Duration(in Months)</label>
      <input
        type="number"
        class="form-control input-field"
        id="planDuration"
        [(ngModel)]="plan.planDuration"
        name="planDuration"
      />
    </div>
    <div class="form-group">
      <label for="planFees">Fees</label>
      <input
        type="number"
        class="form-control input-field"
        id="planFees"
        [(ngModel)]="plan.planFees"
        name="planFees"
      />
    </div>
    <div class="form-group">
      <label for="sportName">Sport Name</label>
      <select
        #sports
        type="text"
        class="form-control input-field"
        id="sportId"
        (change)="onChange(sports.value)"
        name="sportId"
      >
        <option>Select</option>
        <option *ngFor="let s of sport" value="{{ s.sportId }}">
          {{ s.sportName }}
        </option>
      </select>
    </div>

    <button class="btn btn-submit w-100 btn-outline-info mb-3" type="submit">
      Submit
    </button>
  </form>
</div>
