
<div class="container" >
  <a class="btn btn-outline-info my-3" routerLink="/admin/addsport">
    Add Sport
  </a>
  <div class="row">
    <div class="col-md-4" *ngFor="let sport of sports">
      <div class="card mt-4 shadow-lg">
        <img
          src="data:image/gif;base64,{{ sport.sportImage }}"
          height="200"
          width="200"
          class="card-img-top"
          alt="..."
        />
        <hr />
        <div class="card-body">
          <p class="card-text text-center text-info h4 mt-2">
            {{ sport.sportName | uppercase }}
          </p>
        </div>
      </div>
      <button class="btn btn-info my-4" (click)="updateSport(sport.sportId)">
        Update
      </button>
      <button
        class="btn btn-danger my-4 ml-4"
        (click)="deleteSport(sport.sportId)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
