<div
  class="container d-flex justify-content-center mt-4 flex-column w-50 form-container"
>
  <div class="mt-3 form-group">
    <input
      #pass
      type="password"
      class="text-info input-field w-100 form-control"
      placeholder="Enter New Password"
    />
  </div>
  <div class="mt-2 form-group">
    <input
      #confirmpass
      type="password"
      class="text-info input-field w-100 form-control"
      placeholder="Confirm Password"
    />
  </div>
  <button
    class="btn btn-outline-info btn-submit mb-3"
    (click)="confirmPass(pass.value, confirmpass.value)"
  >
    Confirmed Password
  </button>
</div>
